/*-- CSS Code and Design by Hobino, le717, and rioforce --*/
/*-- px to em conversion by http://pxtoem.com/ using 16px as base px size. --*/
/*-- Overall Styling Code --*/
#staff { 
margin: 3.125em auto; 
width: 62.500em; 
height: 37.500em; 
position: relative; 
padding: 3.125em; 
/* Originally hosted at http://i13.servimg.com/u/f13/16/81/98/51/minifi10.png */
/* background: #ffffff url("https://raw.github.com/rioforce/LUNF/gh-pages/staffmembers/images/minifig.png") no-repeat right bottom;  */
}

img{
position: relative; 
left: 855px;
top: 175px;
}


#staff h2 { font-size:1.5em; border-bottom: 5px solid black; color: blue; }

.box {
width: 12.500em;
height: 12.500em;
position: absolute;
border: 0.438em solid #5E5E5E;
padding: 1.250em;
border-radius: 1.250em;
font-size: 1em;
font-weight: bold;
text-align: center;
color: blue;
box-shadow: 0.438em 0.438em 0.438em black;
top: 25%;
}

ul { text-align: left; }

/*-- Link Stuff -- */
a { color: black; }
a:hover { color: blue; }

h3 {
width: 12.500em; position: absolute; color: #636363; }

/* -- Individual Styling Code -- */

#admin { left: 6.250em; }

#adminh { left: 6.250em; }

#mod { left: 25.000em; }

#modh { left: 25.000em; }

#retired { left: 43.750em; }

#retiredh { left: 43.750em; }