/* Nunito */
@import url('http://fonts.googleapis.com/css?family=Nunito:700');

a.gf-title {
color: grey;
font-family: 'Nunito';
font-size: 1em;
}

.gf-snippet{
font-family: 'Nunito';
font-size: 0.7em;
color: white;
}

/* html {
background-color: black; 
} */

.gf-spacer, .gf-author, .gf-relativePublishedDate { display: none !important; }